@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');


:root{
  --brown: #BC9476;
  --brightred: #f9423d;
  --white: #fff;
  --black: #030000cc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav-container {  
  width: 100%;
  background-color: var(--brown);
}

.navbar{
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar-logo{
  color: var (var(--white));
  justify-self: start;
  margin-left: 20px;
}

#navbar-logo{
  cursor: pointer;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(8, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
  font-family: 'Bakbak One', cursive;
}

.nav-links{
  display: block;
  color: var(--white);
  text-decoration: none;
  font-family: 'Bakbak One', cursive;
}

.nav-links:hover{
  color: var(--brightred);
  transition: all 0.2s ease-out;
}

.nav-links-btn{
  color: #fff;
  background-color: var(--brown);
  padding: 6px 16px;
  border-radius: 4px;
}

.nav-links-btn:hover{
  background-color: transparent;
  color: var(--black);
  padding: 5px 15px;
  border-radius: 4px;
  border: solid 1px var(--black);
  transition: all 0.3s ease-out;
}

.menu-toggle.bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-out;
  background: var(--white);
}

@media screen and (max-width: 768px) {
  .nav-container{
    position: relative;
  }

  .nav-menu{
    display: grid;
    grid-template-columns: auto;
    background: var(--black);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;    
    opacity: 0; 
    transition: all 0.5s ease;
  }

  #navbar-logo{
    margin-left: 20px;
  }

  .nav-menu.active{
    background: var(--brown);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links{
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-links:hover{
    background-color: var(--white);
    color: white;
    transition: all 0.4s ease-out;
  }

  .navbar{
    width: 100%;
  }

  .nav-links-btn{
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--brown);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .nav-links-btn:hover{
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--black);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu-toggle.bar{
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover{
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.clearfix{
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 50rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: 'DM Sans', sans-serif;
}


ul{
  list-style-type: none;
  
}

a{
  color: Black
}

a:hover{
  color:var(--brown)
}
h3{
  max-width: 80%;
  margin: auto;
  padding: 10px;
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
}

.my-header{
  max-width: 80%;
  margin: auto;
  padding: 10px;
  font-family: 'DM Sans', sans-serif;
}


#footer {
  padding: 5px 5px 0px 5px;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: var(--brown);         
}

#footer th{
  color: aliceblue;
}

.table{
  border-color:var(--brown);
}

#footer a{
  color: white;
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
}

.main-section {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}


.product-image:hover .product-over {
    display: flex;
    flex-direction: column;
}

.product-image {
    position: relative;
    height: 62%;
    background-color: rgba(0,0,0,. 5);
} 

.product-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80px;
    width: 90%;
    border: 30rem;

} 

.product-over {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    animation-name: show_top;
    animation-duration: 1s;
    backdrop-filter: blur(5px);
} 

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
} 

.stars {
    position: relative;
    width: 110px;
    height: 40px;
    display: block;
    margin: auto;
    padding: 5px;
}

.stars::after {
    content: "\2605 \2605 \2605 \2605 \2605";
    position: absolute;
    left: 0;
    top: 0;
    width: 65%;
    display: block;
    font-size: 1.4rem;
    color: #dabd3b;
    overflow: hidden;
}

.stars::before {
    content: "\2606 \2606 \2606 \2606 \2606";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.4rem;
    color: #7e6c1f; 
}

 #carousel {
  position: relative;
  margin: auto;
 }

 #carouselImage{
  width: 10%;
  height: 10%;
  display: none;
  justify-content: center;
  align-items: center;
 
  
 }

 .carousel-indicators li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--brown)
  box-shadow: inset 1px 1px 1px 1px var(--brown);    
}

.carousel-indicators .active {
  width: 10x;
  height: 10px;
  margin: 5px;
} 

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
} 

#carouselText {
  color: var(--white);
}

.col-md-2{
  line-height: 40px;
}


.btn {
  background-color: var(--brown);
  color: var(--white);
  font-weight: bold;
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  position: relative;
  
}

.btn:hover{
  color: black;
  background-color: var(--brown);

}
.btn:active {
  box-shadow: none;
}

.btn > .fa-angle-right {
  font-size: 1.5rem;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  transition: right 0.5s;
}

.btn:hover .fa-angle-right {
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
}

.btn i {
  margin: 0 5px;
}  





img{
  width:100%;
  height: 310px;
}

.col-md-2{
margin-top: 3rem;
margin-bottom: 3rem;
}


navbar-cart {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #4c4c4c;
  }

#register {
  text-align: center
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

#login_client {
  margin: 0;
  padding: 0;
  width: 55rem;
  border-width: 8vmax;
}